absl-py==0.7.1
astor==0.8.0
awscli==1.14.58
backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
botocore==1.9.11
certifi==2019.6.16
chardet==4.0.0
click==7.1.2
colorama==0.3.7
contextlib2==0.6.0.post1
Cython==0.29.33
docutils==0.14
enum34==1.1.10
funcsigs==1.0.2
future==0.16.0
futures==3.4.0
gast==0.5.3
google-pasta==0.2.0
grpcio==1.41.1
h5py==2.10.0
idna==2.10
importlib-resources==3.3.1
jmespath==0.10.0
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.1.1
mmh3==2.5.1
mock==3.0.5
numpy==1.16.6
pathlib==1.0.1
pathlib2==2.3.7.post1
protobuf==3.17.3
pyasn1==0.4.2
pyhocon==0.3.51
pyparsing==2.4.7
python-dateutil==2.6.1
PyYAML==3.12
requests==2.27.1
rsa==3.4.2
s3transfer==0.1.13
scandir==1.10.0
scikit-learn==0.19.1
scipy==1.0.0
singledispatch==3.7.0
six==1.12.0
soupsieve==1.9.6
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
torch==1.2.0
tqdm==4.64.1
typing==3.10.0.0
typing-extensions==3.10.0.2
urllib3==1.26.15
Werkzeug==1.0.1
wrapt==1.15.0
zipp==1.2.0
